html, body {
    margin: 0;
}

.DropButton {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.DropContent {
	display: none;
	background-color: white;
	color: red;
	font-size: 16px;
    position: absolute;
    overflow: auto;
	
}

#Header {
	padding-top: 5px;
	margin-left: 45px;
	cursor: pointer;
	display: inline-block;
}

#MenuBar {
	margin-left: 20px;
	background-color: red;
}

#aboutmecontent, #antibioticcontent, #barontools, #HomeContent, .content {
	margin-left: 45px;
	margin-top: 25px;
	margin-right: 500px;
}

body {
	background-color: black;
	display: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-family: "Arial", Helvetica, sans-serif;
	height: 100%;
}
#leftborder {
	position: fixed;
	background-color: red;
	height: 100%;
	width: 20px;
	float: left;
}

a {
	text-decoration: none;
	font-size: 20px;
	color: red;
	display: inline-block;
	margin-left: 10px;
	margin-right: 30px;
}

a:hover {
	color: white;
	background-color: black;
}

.linklist {
	display: inline;
}